<div style="width: 40px; height: 40px; background-color: <%= collection.color %>;" class="fs-1 text-center d-flex justify-content-center align-items-center rounded-circle">
  <% if collection.user === current_user %>
    <%= collection.emoji %>
  <% else %>
    <% if collection.user.avatar_color.present? %>
      <div class="user-avatar" style="width: 40px; height: 40px; background-color: <%= collection.user.avatar_color %>;">
        <%= collection.user.first_name[0] %><%= collection.user.last_name[0] %>
      </div>
    <% else %>
      <%= image_tag "https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-master-chef-logo-illustration-png-image_6351381.png", class: "friend-card-avatar" %>
    <% end %>
  <% end %>
</div>
