<h1 class="text-center">Collections</h1>

<div data-controller="showcat">
  <div class="row">
    <div class="col-12 d-flex justify-content-between mx-auto" style="width: 85%;">
      <button data-action="focus->showcat#toggle" class="btn"><%= link_to "All", collections_path(), class: "text-deco-none" %></button>
      <button data-action="focus->showcat#toggle" class="btn">Collections</button>
      <button data-action="focus->showcat#toggle" class="btn">Friends</button>
    </div>
  </div>

  <div class="mx-auto rounded-5" style="width: 85%; height: 350px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div data-showcat-target="all">
    <% @restaurants.each do |restaurant| %>
      <p><%= link_to restaurant.name, restaurant_path(restaurant) %></p>
    <% end %>
  </div>

  <div class="d-none" data-showcat-target="collections" data-controller="showfav">
    <% @collections.each_with_index do |collection, index| %>
      <button data-action="focus->showfav#toggle" class="btn">
        <%= link_to collection.name, collections_path(name: collection.name) %>
      </button>
      <div class="d-none" data-showfav-target="toggleelement">
        <% collection.saved_restaurants.each do |saved_restaurant| %>
          <p><%= link_to saved_restaurant.restaurant.name, restaurant_path(saved_restaurant.restaurant) %></p>
        <% end %>
      </div>
    <% end %>
  </div>

  <%# <div class="d-none" data-showcat-target="friends">
    <% @frienships.each do |friendship| %>
      <%# <p><%= friendship.user.username </p> %>
    <%# <% end %>
  <%# </div>  %>
</div>
