<div class="main-content">
  <div data-controller="showcat" class="relative">

    <div id="mapbox-collection" style="box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      <div class="row">
        <div class="col-12 d-flex justify-content-between mx-auto my-3" style="width: 85%; z-index: 4;">
          <%= link_to "All", collections_path(),
          data: { action: "click->showcat#toggle", showcat_target: "allLink", turbo_stream: true },
          class: "btn-link no-padding d-flex align-items-center justify-content-center" %>
          <button data-action="click->showcat#toggle" data-showcat-target="colLink" class="btn-no-link no-padding d-flex align-items-center justify-content-center">Collections</button>
          <%= link_to "Friends", collections_path(friends: true), data: { action:"click->showcat#toggle", showcat_target:"friendLink", turbo_stream: true }, class: "btn-no-link no-padding d-flex align-items-center justify-content-center" %>
        </div>
      </div>
    </div>
    <div id="info-bulle" class="d-none" style="width: 90vw; position: fixed; bottom: 100px; left: 50%; transform: translateX(-50%); padding: 10px; border-radius: 5px;"></div>

    <div id="collection-filters" class="d-none absolute bg-white mx-auto d-flex flex-column align-items-center my-2 rounded-5" style="width: 60%; box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);" data-showcat-target="collections">
      <% @collections.each_with_index do |collection, index| %>
        <% if (collection.saved_restaurants.present?)%>
          <%= link_to collection.name, collections_path(name: collection.name, color: collection.color, emoji: collection.emoji), data: { turbo_stream: true }, class: "btn-collection no-padding d-flex align-items-center justify-content-center my-2 rounded-5" %>
          <div class="d-none">
            <% collection.saved_restaurants.each do |saved_restaurant| %>
              <p><%= link_to saved_restaurant.restaurant.name, restaurant_path(saved_restaurant.restaurant) %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
