<h1>Collections</h1>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div data-controller="showcat">
  <div>
    <button data-action="focus->showcat#toggle" >All</button>
    <button data-action="focus->showcat#toggle">Collections</button>
    <button data-action="focus->showcat#toggle">Friends</button>
  </div>

  <div data-showcat-target="all">
    <% @restaurants.each do |restaurant| %>
      <p><%= link_to restaurant.name, restaurant_path(restaurant) %></p>
    <% end %>
  </div>

  <div class="d-none" data-showcat-target="collections" data-controller="showfav">
    <% @collections.each do |collection| %>
      <button><%= collection.name %></button>
      <p><%= collection.name.saved_restaurants %></p>
    <% end %>
  </div>

  <%# <div class="d-none" data-showcat-target="friends">
    <% @frienships.each do |friendship| %>
      <%# <p><%= friendship.user.username </p> %>
    <%# <% end %>
  <%# </div>  %>
</div>
