<% if (current_user == User.find(friendship.friend_id) && friendship.status == "pending") %>
  <% friend = User.find(friendship.user_id) %>
    <div class="friend-card">
      <div class="friend-card-infos">
        <% if friend.avatar.attached? %>
          <%= cl_image_tag friend.avatar.key %>
        <% else %>
          <%= image_tag "https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-master-chef-logo-illustration-png-image_6351381.png", class: "friend-card-avatar" %>
        <% end %>
        <div class="friend-card-info">
          <h3><%= friend.first_name %> <%= friend.last_name %></h3>
          <p>@<%= friend.username %></p>
        </div>
      </div>
      <div class="friend-card-btn">
        <%= link_to accept_path(friendship), class: "friend-btn-accept", data: { turbo_method: "PATCH" } do %>
          <%= image_tag "accept.svg", class: "friend-btn-icon" %>
        <% end %>
        <%= link_to decline_path(friendship), class: "friend-btn-decline", data: { turbo_method: "PATCH" } do %>
          <%= image_tag "decline.svg", class: "friend-btn-icon" %>
        <% end %>
      </div>
    </div>
<% elsif ((current_user == User.find(friendship.user_id) || current_user == User.find(friendship.friend_id)) && friendship.status == "accepted") %>
  <% friend = User.find(friendship.user_id) %>
    <% if (friend != current_user) %>
      <div class="friend-card">
        <div class="friend-card-infos">
          <% if friend.avatar.attached? %>
            <%= cl_image_tag friend.avatar.key %>
          <% else %>
            <%= image_tag "https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-master-chef-logo-illustration-png-image_6351381.png", class: "friend-card-avatar" %>
          <% end %>
          <div class="friend-card-info">
            <h3><%= friend.first_name %> <%= friend.last_name %></h3>
            <p>@<%= friend.username %></p>
          </div>
        </div>
        <div class="friend-card-btn">
          <%= link_to friendship_path(friendship), class: "friend-btn-delete", data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <%= image_tag "delete.svg", class: "friend-btn-icon" %>
          <% end %>
          <%= link_to friendship_path(friendship), class: "friend-btn-see" do %>
            <%= image_tag "arrow.svg", class: "friend-btn-icon" %>
          <% end %>
        </div>
      </div>
    <% else %>
      <% friend = User.find(friendship.friend_id) %>
      <div class="friend-card">
        <div class="friend-card-infos">
          <% if friend.avatar.attached? %>
            <%= cl_image_tag friend.avatar.key %>
          <% else %>
            <%= image_tag "https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-master-chef-logo-illustration-png-image_6351381.png", class: "friend-card-avatar" %>
          <% end %>
          <div class="friend-card-info">
            <h3><%= friend.first_name %> <%= friend.last_name %></h3>
            <p>@<%= friend.username %></p>
          </div>
        </div>
        <div class="friend-card-btn">
          <%= link_to friendship_path(friendship), class: "btn-delete", data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <%= image_tag "delete.svg", class: "btn-delete" %>
          <% end %>
          <%= link_to friendship_path(friendship), class: "btn-arrow" do %>
            <%= image_tag "arrow.svg", class: "btn-arrow" %>
          <% end %>
        </div>

      </div>
    <% end %>
<% end %>
