<%= link_to  restaurant_path(restaurant) do %>
  <div class="restaurant-feed-card p-2">
    <%#= image_tag saved_restaurant.restaurant.images %>
    <% if restaurant.images.attached? %>
      <%= cl_image_tag restaurant.images.first.key, class: "restaurant-feed-image rounded" %>
    <% end %>
    <div class="restaurant-feed-content">
      <p class="restaurant-feed-category"><%= collection.name %></p>
      <h5 class="restaurant-feed-title"><%= restaurant.name %></h5>
      <p class="restaurant-feed-address"><%= restaurant.address %></p>
      <div class="restaurant-card-rating">
        <% full_stars = restaurant.rating.floor %>
        <% empty_stars = 5 - full_stars %>
        <% full_stars.times do %>
          <%= image_tag "star-fill.svg", width: 20, height: 20 %>
        <% end %>
        <% empty_stars.times do %>
          <%= image_tag "star.svg", width: 20, height: 20 %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
