<div class="photo-feed-card">
  <%= image_tag url_for(photo), class: "photo-feed-image" %>
  <div class="photo-feed-content">
    <h5 class="photo-feed-title"><%= saved_restaurant.user.username %> a ajouté une photo</h5>
    <p class="photo-feed-text">
      <% elapsed_time = Time.now - photo.created_at %>
      <% if elapsed_time < 1.hour %>
        il y a <%= (elapsed_time / 60).to_i %> minutes
      <% elsif elapsed_time < 24.hours %>
        il y a <%= (elapsed_time / 1.hour).to_i %> heures
      <% else %>
        il y a <%= (elapsed_time / 1.day).to_i %> jours
      <% end %>
    </p>
  </div>
</div>
