<div class="photo-feed-card">
  <%= image_tag photo.saved_restaurant.restaurant.images.sample, class: "restaurant-image" %>
  <h5 class="photo-feed-title"><%= photo.user.username %> a laissé une photo</h5>
  <p class="photo-feed-text"><%= photo.content %></p>
  <p class="photo-feed-rating">Note : <%= photo.user_rating %></p>
  <p class="photo-feed-text">
    <% elapsed_time = Time.now - photo.created_at %>
    <% if elapsed_time < 1.hour %>
      il y a <%= (elapsed_time / 60).to_i %> minutes
    <% elsif elapsed_time < 24.hours %>
      il y a <%= (elapsed_time / 1.hour).to_i %> heures
    <% else %>
      il y a <%= (elapsed_time / 1.day).to_i %> jours
    <% end %>
  </p>
</div>
