<div class="details-container">
   <!-- Afficher la description -->
  <div class="description">
    <p>Description</p>
    <p><%= @restaurant.description %></p>
  </div>

  <!-- Afficher la catégorie -->
  <div class="detail">
    <i class="fa-solid fa-utensils"></i>
    <p>Catégorie</p>
    <p><%= @restaurant.category %></p>
  </div>
  <!-- Afficher l'adresse -->
  <div class="detail">
    <i class="fa-solid fa-utensils"></i>
    <p>Adresse</p>
    <p><%= @restaurant.address %></p>
  </div>
  <!-- Afficher le téléphone -->
  <div class="detail">
    <i class="fa-solid fa-utensils"></i>
    <p>Téléphone</p>
    <p><%= @restaurant.phone_number %></p>
  </div>
  <!-- Afficher le téléphone -->
  <div class="detail">
    <i class="fa-solid fa-utensils"></i>
    <p>Téléphone</p>
    <p><%= @restaurant.phone_number %></p>
  </div>
  <!-- Afficher le site internet -->
  <div class="detail">
    <i class="fa-solid fa-utensils"></i>
    <p>Site internet</p>
    <p><%= @restaurant.website %></p>
    <i class="fa-solid fa-arrow-up-right-from-square"></i>
  </div>
</div>
