<div class="details-container">
  <!-- Afficher la description -->
  <div class="description">
    <p>Description</p>
    <% if @restaurant.description.length <= 120 %>
      <p><%= @restaurant.description %></p>
    <% else %>
      <p><%= truncate(@restaurant.description, length: 120) %></p>
      <!-- TODO: JS pour afficher un bouton "See more"/"See less" -->
    <% end %>
  </div>
  <div class="details-list">
    <!-- Afficher la catégorie -->
    <div class="detail">
      <i class="fa-solid fa-utensils"></i>
      <div class="detail-info">
        <p>Category</p>
        <p><%= @restaurant.category %></p>
      </div>
    </div>
    <!-- Afficher l'adresse -->
    <div class="detail">
      <i class="fa-solid fa-utensils"></i>
      <div class="detail-info">
        <p>Address</p>
        <p><%= @restaurant.address %></p>
      </div>
    </div>
    <!-- Afficher le téléphone -->
    <div class="detail">
      <i class="fa-solid fa-utensils"></i>
      <div class="detail-info">
        <p>Phone number</p>
        <p><%= @restaurant.phone_number %></p>
      </div>
    </div>
    <!-- Afficher le site internet -->
    <div class="detail">
      <i class="fa-solid fa-utensils"></i>
      <div class="detail-info">
        <p>Website</p>
        <p><%= @restaurant.website %></p>
      </div>
      <i class="fa-solid fa-arrow-up-right-from-square"></i>
    </div>
  </div>
</div>
