<div class="card-container">
  <% @restaurants["places"].each do |restaurant| %>
    <%# Et pour chaque "restaurant", j'affiche les infos (name et address), la possibilité de l'ajouter à une collection via l'icon %>
    <%# et le lien cers la show du restaurant %>
    <div class="card">
    <% img_uri = GetGooglePhotosDataService.new(restaurant.dig("photos").first.dig("name")).call %>
      <% if restaurant.dig("photos").present? %>
        <%= image_tag img_uri, class: "card-img-top" %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= restaurant["displayName"]["text"] %></h5>
        <p class="card-text"><%= restaurant["formattedAddress"] %></p>
        <p class="card-text">Rating: <%= restaurant["rating"] %></p>
        <a href="<%= restaurant_path(restaurant["id"]) %>" class="card-btn btn-primary">View Restaurant</a>
      </div>
    </div>
  <% end %>
</div>
