<div class="card-container">
  <% @restaurants.each do |restaurant| %>
    <%# Et pour chaque "restaurant", j'affiche les infos (name et address), la possibilité de l'ajouter à une collection via l'icon %>
    <%# et le lien cers la show du restaurant %>
    <div class="card">
      <% if restaurant[1][0]["photos"].present? %>
        <% photo_reference = restaurant[1][0]["photos"][0]["authorAttributions"][0]["photoUri"] %>
        <%= image_tag "#{photo_reference}", class: "card-img-top" %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= restaurant[1][0]["displayName"]["text"] %></h5>
        <p class="card-text"><%= restaurant[1][0]["formattedAddress"] %></p>
        <p class="card-text">Rating: <%= restaurant[1][0]["rating"] %></p>
        <%# <%= link_to "View Restaurant", google_restaurant_path(restaurant["place_id"]), class:"card-btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
