<div class="main-content">

  <!-- Header avec photo, nom et username -->
  <div class="profil-header">
    <div class="profil-header-image">
      <% if (current_user.avatar.attached?) %>
        <img src="<% cl_image_path current_user.avatar.key %>" class="avatar-large img-fluid rounded-start" alt="avatar">
      <% else %>
        <img src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-master-chef-logo-illustration-png-image_6351381.png" class="avatar-large img-fluid rounded-start" alt="avatar">
      <% end %>
    </div>
    <div class="profil-header-info">
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <p>@<%= @user.username %></p>
      <div class="profil-header-btn">
        <!-- Bouton pour ouvrir la modal -->
        <button type="button" class="profil-btn-large" data-bs-toggle="modal" data-bs-target="#collectionModal">
          <%= image_tag "add.svg", width: 18, height: 18 %>
          <p>Collection</p>
        </button>
        <button class="profil-btn-small">
          <%= image_tag "setting.svg", class: "btn-icon" %>
        </button>
        <%= button_to destroy_user_session_path, method: :delete, class: "profil-btn-small" do %>
          <%= image_tag "logout.svg", class: "btn-icon" %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Data sur le profil -->
  <div class="profil-data">
    <div class="profil-data-item">
      <p class="profil-data-number"><%= current_user.collections.count %></p>
      <p class="profil-data-text">collections</p>
    </div>
    <div class="profil-data-item">
      <p class="profil-data-number"><%= current_user.saved_restaurants.count %></p>
      <p class="profil-data-text">restaurants</p>
    </div>
    <div class="profil-data-item">
      <p class="profil-data-number"><%= Friendship.where(status: 1).where(user: current_user).or(Friendship.where(status: 1).where(friend: current_user)).count %></p>
      <p class="profil-data-text">friends</p>
    </div>
  </div>

  <div data-controller="showcat" class="profil-menu">
    <div class="profil-menu-btn">
      <%= link_to "Collections", switch_tab_path("collections"), data: { turbo_method: :post }, id: "collections-tab-button", class: "tab-active" %>
      <%= link_to "Photos", switch_tab_path("photos"), data: { turbo_method: :post }, id: "photos-tab-button" %>
      <%= link_to "Comments", switch_tab_path("reviews"), data: { turbo_method: :post }, id: "reviews-tab-button" %>
    </div>

    <div id="profil-content" class="profil-content" data-showcat-target="collections">
      <div class="collection-cards">
        <%= render partial: "components/collection_card", collection: @collections, as: :collection %>
      </div>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="collectionModal" tabindex="-1" aria-labelledby="collectionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="collectionModalLabel">Create new collection</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@collection, url: collections_path, method: :post, data: { turbo: false }) do |f| %>
          <div class="mb-3">
            <%= f.input :name, label: 'Name' %>
          </div>
          <div class="colors-iteration mb-4">
            <label>Choose a color</label>
            <div class="color-buttons">
              <% @colors.each_with_index do |color, index| %>
                <input type="radio" id="color_<%= index %>" name="collection[color]" value="<%= color %>" class="input-none">
                <label for="color_<%= index %>" style="background-color:<%= color %>;" class="color-button"></label>
              <% end %>
            </div>
          </div>
          <div class="emojis-iteration mb-4">
            <label>Choose an emoji</label>
            <div class="emoji-buttons">
              <% @emojis.each_with_index do |emoji, index| %>
                <input type="radio" id="emoji_<%= index %>" name="collection[emoji]" value="<%= emoji %>" class="input-none">
                <label for="emoji_<%= index %>" class="emoji-button"><%= emoji %></label>
              <% end %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <%= f.submit 'Create collection', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @show_modal %>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var myModal = new bootstrap.Modal(document.getElementById('collectionModal'));
      myModal.show();
    });
  </script>
<% end %>
