<h1>Pages#home</h1>
<!-- vérifier cloudinary -->
<%= simple_form_for(@saved_restaurant) do |f| %>
  <!-- [...] -->
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <!-- [...] -->
  <%= f.button :submit %>
<% end %>

  <!-- afficher les photos cloudinary -->
<% @saved_restaurant.photos.each do |photo| %>
  <%= cl_image_tag(photo.key, width: 300, height: 200, crop: "scale", effect: "cartoonify")  %>
<% end %>

<div data-controller="reset">
  <%= render "search-bar" %>

  <% if params[:query].present? %>
    <div data-reset-target="list">
      <% if @restaurants.any? %>
          <% @restaurants.each do |restaurant| %>
            <p><%= restaurant.name %><i class="fa-solid fa-bookmark"></i></p>
          <% end %>
      <% else %>
        <p>Sorry, no restaurant found.</p>
      <% end %>
    </div>
  <% end %>
</div>

<h1>Favorites</h1>
<div>
  <% @saved_restaurants.each do |saved_restaurant| %>
    <p>
      <%= link_to saved_restaurant.restaurant.name, restaurant_path(saved_restaurant.restaurant) %>
    </p>
  <% end %>
</div>

<h1>Recommended</h1>
