<div class="restaurant-header">
  <h1><%= @restaurant.name %></h1>
  <%= link_to "#", data: { bs_toggle: "modal", bs_target: "#collectionModal" }, class: "bouton-icon " do %>
    <i class="fa-solid fa-bookmark" style="color: white;"></i>
  <% end %>
</div>
<div class="restaurant-image">
  <%= render "components/image_carousel", image: @image %>
</div>
<%= render "components/restaurant_details" %>

<!-- Modal pour choisir la catégorie qui s'ouvre en mode pop-up -->
<div class="modal fade" id="collectionModal" tabindex="-1" aria-labelledby="collectionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="collectionModalLabel">Choose a collection</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with url: restaurant_collection_path(@collections, restaurant_id: @restaurant.id), method: :patch, local: true do |f| %>
          <div class="mb-3">
              <% @collections.each do |collection| %>
                <% if (SavedRestaurantsCollection.where(saved_restaurant_id: @saved_restaurant.id, collection_id: collection.id).present?) %>
                  <label for="collection"><%= collection.name %></label>
                  <input id="<%= collection.id %>" name="<%= collection.name %>" type="checkbox" value="<%= collection.id %>" checked/>
                <% else %>
                  <label for="collection"><%= collection.name %></label>
                  <input id="<%= collection.id %>" name="<%= collection.name %>" type="checkbox" value="<%= collection.id %>"/>
                <% end %>
              <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <%= f.submit "Save", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- ajouter une photo via cloudinary à notre saved restaurant-->
<%#= simple_form_for(@saved_restaurant) do |f| %>
  <!-- [...] -->
  <%#= f.input :photos, as: :file, input_html: { multiple: true } %>
  <!-- [...] -->
  <%#= f.button :submit %>
<%# end %>

  <!-- afficher les photos cloudinary du saved restaurant -->
<%# @saved_restaurant.photos.each do |photo| %>
  <%#= cl_image_tag(photo.key, width: 300, height: 200, crop: "scale", effect: "cartoonify")  %>
<%# end %>
<% @saved_restaurants.each do |saved_restaurant| %>
  <% if (saved_restaurant.restaurant == @restaurant) %>

    <% @saved_restaurant.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <%= link_to restaurant_path(photo, @saved_restaurant), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-black" do %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
    <% end %>

    <h1>Add my photos</h1>

    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <%= simple_form_for @saved_restaurant do |f| %>
            <%= f.input :photos, input_html: { multiple: true } %>
            <%= f.submit "Send your photos" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<h1>Reviews</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :content %>
        <%= f.input :user_rating, collection: (1..5).to_a, label: "Rate your experience" %>
        <%= f.submit "Send your review" %>
      <% end %>
    </div>
  </div>
</div>

<% @reviews.each do |review| %>
  <% if (review.saved_restaurant.restaurant == @restaurant && (review.user == current_user || @friends.include?(review.user))) %>
    <p>
      <%= review.user.username %>
      <%= review.content %>
      <%= review.user_rating %>
      <% if (review.user == current_user) %>
        <%= link_to review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-black" do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
      <% end %>
    </p>
  <% end %>
<% end %>
